{% extends "base.html" %}
{% block title %}Payment Gateway API Explorer{% endblock %}
{% block header -%}
  {{ super() }}
{%- endblock %}
{% block content %}
      <div id="intro">
        <u>Introduction:</u> This is a simple browser-based tool for exploring the
        various Payment Gateway APIs. Simply find the Payment Gateway above that
        you are interested in (e.g. PayPal, Amazon Pay, BrainTree, etc...), click,
        and you will be taken to a page with a list of APIs for that
        Payment Gateway. From there you will be able to explore changing the
        values of API variables, and making API calls using your own credentials
        and values.
      </div>
{%- endblock %}
